/* Global CSS Properties */

html {
    font-size: 100%; 
}

body {
    background-color: #ffffff;
    background-image: url(/images/background-default.jpg); 
    background-repeat: repeat-y; 
    background-size: cover;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
}

.center-content {
    height: 1000px; 
    /* background-color: rgba(136,136,136,0.6); */
    background-color: white; 
}

.sidebar_buffer {
    height: 20px;
}

.error_center {
    margin: auto; 
    padding: 20px; 
    background-color: rgba(120,120,120, 0.5);
    border-radius: 10px;
    margin: 10px;
}
.image_format {
    text-align: center;
}

.home_btn {
    color:white;
    padding: 3px;
}
.home_btn:hover {
    color: white;
    background-color: #1fa6e1;
    border-radius: 5px;
    padding: 3px;
}


/* 
    Decisions: 
    Text formatting: 
    font-family
    font-size
    font-style
    font-weight
*/