/* Global CSS Properties */

html {
    font-size: 100%; 
}

body {
    background-color: #ffffff;
    background-image: url(/images/background-default.jpg); 
    background-repeat: repeat-y; 
    background-size: cover;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
}

.center-content {
    /* height: 1000px;  */
    /* background-color: rgba(136,136,136,0.6); */
    background-color: white; 
    text-align: center;
}

.sidebar_buffer {
    height: 20px;
}

.error_center {
    margin: auto; 
    padding: 20px; 
    background-color: rgba(120,120,120, 0.5);
    border-radius: 10px;
    margin: 10px;
}
.image_format {
    text-align: center;
}

.home_btn {
    color:white;
    padding: 3px;
}
.home_btn:hover {
    color: white;
    background-color: #1fa6e1;
    border-radius: 5px;
    padding: 3px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.left {
    left: 0 !important;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
/* 
    Decisions: 
    Text formatting: 
    font-family
    font-size
    font-style
    font-weight
*/