/* Global CSS Properties */

html {
    font-size: 100%;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
}

.shadow-down {
    box-shadow: 0px 9px 27px 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 9px 27px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 9px 27px 10px rgba(0, 0, 0, 1);
}

.shadow-up {
    box-shadow: 3px -9px 27px 24px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 3px -9px 27px 24px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 3px -9px 27px 24px rgba(0, 0, 0, 0.40);
}

.header_format {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-style: normal;
    font-weight: 200;
}

.header_buffer_large {
    height: 100px;
}

.body-content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6)
}

.line-format {
    margin: 0 auto;
    width: 75%;
    border-style: double;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
}

.content {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.p-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin: 30px;
}

.sidebar_buffer {
    height: 20px;
}

.error_center {
    margin: auto;
    padding: 20px;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 10px;
    margin: 10px;
}

.image_format {
    padding: 50px;
}

.home_btn {
    color: white;
    padding: 3px;
}

.home_btn:hover {
    color: white;
    background-color: #1fa6e1;
    border-radius: 5px;
    padding: 3px;
}

.rotating-earth {
    position: relative;
    animation: 2.5s ease-out 0s 1 slide_in_left;
}

@keyframes slide_in_left {
    0% {
        left: -300%;
    }

    100% {
        left: 0%;
    }
}

.home_graph_format {
    height: 500px;
}

.sector_graph_format {
    height: 400px
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.left {
    left: 0 !important;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.navParent {
    max-height: 300px; 
    overflow-y: scroll;
}