<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/foundation.css">
    <title>Page not found...</title>
</head>

<body style="background-image: url(/images/background-default.jpg); background-repeat: repeat-y; background-size: cover;">
  <!-- Title bar for all elements -->
  <div class="title-bar" style="background-color: #1a8fc1; height: 40px;">
    <div class="title-bar-left">
        <a href="/homepage" target="_self" class="home_btn">HOME</a>
    </div>
      
  </div>

  <!-- This is where all the non-navigation bar information resides. -->
  <div class="off-canvas-content">
        <div class="grid-x grid-padding-x">
            <!-- Buffer for large and medium web pages -->
            <div class="large-2 medium-1 small-0 cell"></div>
            <div class="large-8 medium-10 small-12 center-content">
                <div style="height: 100px"></div>
                <div class="image_format">
                  <img src="/images/gear.png" alt="Broken Gear Icon">  
                </div>
                
                
                <div class="error_center">
                    <p>The page you are currently trying to reach is either not available
                        or does not exist at this time. Please try back again later. If problems
                        persist please contact the administrator of this domain. Thank you.
                    </p>
                </div>
            </div>
            <div class="large-2 medium-1 small-0 cell"></div>
        </div>
  </div>

    <script src="/js/script.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/what-input.js"></script>
    <script src="/js/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="/js/app.js"></script>
</body>

</html>