<!-- This is where all the non-navigation bar information resides. -->
<div class="off-canvas-content">
  <div class="grid-x">
    <!-- Buffer for large and medium web pages -->
    <div class="large-12 medium-12 small-12 cell">
      <div class="grid-x">
        <div class="large-5 medium-12 small-12 cell content">
          <img class="image_format rotating-earth" src="/images/earth.gif" alt="Image 1">
        </div>
        <div class="large-7 medium-12 small-12 cell content">
          <div class="header_buffer_large show-for-large show-for-xlarge"></div>
          <h1 class="header_format">Renewable Energy Consumption</h1>
          <div class="line-format"></div>
          <h1 class="header_format">Homepage</h1>
        </div>
      </div>
      <div class="body-content">
        <br><br><br>
        <div class="p-content">
          <p>Welcome! Here you will find information pertaining to America's
            consumption of renewable energy resources. More than just a couple of
            decades ago America ran mainly on oil and electricity. Since then there have
            been innovations resulting in more environmentally friendly ways of
            generating energy. Every day we are getting closer to sustainability.
          </p>
        </div>
        <br><br><br>
        <br>
        <div class="shadow-up grid-x">
          <div class="large-6 medium-12 small-12 cell">
            <!-- Graph 1 Divider - Total -->
            <div class="graph_format large-4 medium-12 small-12 cell" id="graph_1"></div>
          </div>
          <div class="large-6 medium-12 small-12 cell gallery_format">
            <img class="image_gallery_format" src="/images/homepage_1.jpg" alt="Installing Solar Panels">
            <div class="image_text_block">
              <p>Solar Panel Installation</p>
            </div>
          </div>
          <div class="large-6 medium-12 small-12 cell gallery_format">
            <img class="image_gallery_format" src="/images/homepage_2.jpg" alt="Countryside Wind Farm">
            <div class="image_text_block">
              <p>Countryside Wind Farm</p>
            </div>
          </div>
          <div class="large-6 medium-12 small-12 cell">
            <!-- Graph 2 Divider - State-->
            <div class="graph_format large-4 medium-12 small-12 cell" id="graph_2"></div>
          </div>
          <div class="large-6 medium-12 small-12 cell">
            <!-- Graph 3 Divider - Sector-->
            <div class="graph_format large-4 medium-12 small-12 cell" id="graph_3"></div>
          </div>
          <div class="large-6 medium-12 small-12 cell gallery_format">
            <img class="image_gallery_format" src="/images/homepage_3.jpg" alt="Turkish Airlines Bio-plane">
            <div class="image_text_block">
              <p>Turkish Airlines Bio-plane</p>
            </div>
          </div>
        </div>

      </div>
      <div class="large-12 medium-12 small-12 cell footer">
        <div class="footer_text_format">
          <p><b>Attribution</b>: </p>
          <ul>
            <li><p>Under the <a target="_blank" href="https://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons Attribution 2.0 Generic</a>
          license we were allowed to use the images above in this project.</p></li>
          <li>The graphs were generated using the <a target="_blank" href="https://canvasjs.com/">CanvasJS</a> Graph Package.</li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>