<!-- This is where all the non-navigation bar information resides. -->
<div class="off-canvas-content">
    <div class="grid-x grid-padding-x">
        <!-- Buffer for large and medium web pages -->
        <div class="large-2 medium-1 small-0 cell"></div>
        <div class="large-8 medium-10 small-12 cell content">
            <div class="grid-x">
                <div class="large-12 medium-12 small-12 cell">
                    <h1 class="css-3d-text">%%Sector_Title_Placeholder%%</h1>
                </div>
                <div class="large-6 medium-12 small-12 cell gallery_format">
                    <img class="image_gallery_format" src="%%Image_Placeholder_1%%" alt="%%Image_Descriptor_1%%">
                    <div class="image_text_block">
                        <p>%%Image_Descriptor_1%%</p>
                    </div>
                </div>
                <div class="large-6 medium-12 small-12 cell">
                    <p class="p-content"><b>%%Sector_Type%%</b>
                        <br>
                        If not already noticed there are many kinds of renewable energy.
                        There are solar, wind, wood, geothermal, hydropower, bioenergy and
                        more! At least annually renewable resource consumption begain being 
                        tracked during the late 1940s and early 1950s and spans
                        all the way to the last couple of years. One thing to note is the
                        measurement of <a
                            href="https://www.eia.gov/energyexplained/units-and-calculators/british-thermal-units.php"><i>Trillion
                                (BTU)</i></a>. BTU is the abbreviation that stands for
                        the British Thermal Unit and is used to measure sources of energy.
                    </p>
                </div>
                <div class="large-12 medium-12 small-12 cell" style="padding-top: 20px; padding-bottom: 20px;">
                    <div style="margin: 0 auto;" class="graph_format" id="chartContainer"></div>
                </div>
                <div class="large-12 medium-12 small-12 cell" style="padding-top: 20px; padding-bottom: 20px; overflow-x: auto; background-color: white;">
                    <div >
                        <table id="table"></table>
                    </div>
                </div>
                <div class="graph_format large-12 medium-12 small-12 cell" style="padding-top: 20px; padding-bottom: 20px;">
                    <div style="margin: 0 auto;" class="graph_format" id="pie"></div>
                </div>
                <div class="large-6 medium-12 small-12 cell gallery_format" style="margin-top: 40px;">
                    <img class="image_gallery_format" src="%%Image_Placeholder_2%%" alt="%%Image_Descriptor_2%%">
                    <div class="image_text_block">
                        <p>%%Image_Descriptor_2%%</p>
                    </div>
                </div>
                <div class="large-6 medium-12 small-12 cell gallery_format" style="margin-top: 40px;">
                    <img class="image_gallery_format" src="%%Image_Placeholder_3%%" alt="%%Image_Descriptor_3%%">
                    <div class="image_text_block">
                        <p>%%Image_Descriptor_3%%</p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell">
                    <img class="image_gallery_format" src="/images/solar_3.jpg" alt="Solar Field">
                    <div class="image_text_block">
                        <p>Solar Field</p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell" style="text-align:left; display: block;">
                    <!-- Points -->
                    <div class="sub_head">
                        <h4><b>Solar Energy</b></h4>

                        <ul>
                            <li>Most abundant of all enery resources</li>
                            <li>Can even be harnessed in cloudy weather.</li>
                            <li>Rate at which solar energy is intercepted by the Earth is about
                                10,000 times greater than the rate at which human kind
                                consumes energy.
                            </li>
                            <li>Solar technologies can deliver the following:
                                <ol>
                                    <li>Heat</li>
                                    <li>Cooling</li>
                                    <li>Natural Lighting</li>
                                    <li>Fuels for host of applications</li>
                                </ol>
                            </li>
                            <li>Solar Energies convert sunlight into electrical
                                energy either through photovoltaic panels or through
                                mirrors that concentrate solar radiation.
                            </li>
                        </ul>
                        <p>Cited from <a href="https://www.un.org/en/climatechange/what-is-renewable-energy">United
                                Nations Climate Action</a></p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell" style="text-align:left;">
                    <!-- Points -->
                    <div class="sub_head">
                        <h4><b>Wind Energy</b></h4>
                        <ul>
                            <li>Wind energy harnesses the kinetic energy of moving air
                                by using large wind turbines
                            </li>
                            <li>Many parts of the world have strong wind speeds, but the best locations for
                                generating wind power are sometimes remote areas. Offshore wind
                                power offers much potential.
                            </li>
                            <li>Over time wind turbines developed into larger structures with
                                bigger rotor diameters
                            </li>
                        </ul>
                        <p>Cited from <a href="https://www.un.org/en/climatechange/what-is-renewable-energy">United
                                Nations Climate Action</a></p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell">
                    <img class="image_gallery_format" src="/images/wind-turbine.jpg" alt="Small Wind Turbine">
                    <div class="image_text_block">
                        <p>Small Wind Turbine in Norway</p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell" style="text-align:left;">
                    <!-- points -->
                    <div class="sub_head">
                        <h4><b>Hydropower Energy</b></h4>
                        <ul>
                            <li>Hydropower harnesses the energy of water moving from higher
                                to lower elevations
                            </li>
                            <li>It can be genereated from either reserviors and rivers
                                <ol>
                                    <li>Reserviors: these kinds of power plants rely on stored water
                                    </li>
                                    <li>Run-Of-River: these kinds of power plants harness energy from
                                        the available flow of the river
                                    </li>
                                </ol>
                            </li>
                            <li>Hydropower reservoirs often have multiple uses - providing drinking water, water for
                                irrigation,
                                flood and drought control, navigation services, as well as energy supply.</li>
                            <li>Hydro Energy can be negatively impacted by climate-induced droughts or changes
                                to ecosystems which impact rainfall patters.
                            </li>
                        </ul>
                        <p>Cited from <a href="https://www.un.org/en/climatechange/what-is-renewable-energy">United
                                Nations Climate Action</a></p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell">
                    <img class="image_gallery_format" src="/images/Rotor_Hydroelectric_Power_Plant.jpg"
                        alt="Rotor Hydroelectric Power Plant">
                    <div class="image_text_block">
                        <p>Rotor Hydroelectric Power Plant</p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell">
                    <img class="image_gallery_format" src="/images/bio_fuel.jpg"
                        alt="Path thorugh field harvested for Biofuel Purposes">
                    <div class="image_text_block">
                        <p>Path thorugh field harvested for Biofuel Purposes</p>
                    </div>
                </div>
                <div class="gallery_format large-6 medium-12 small-12 cell" style="text-align:left;">
                    <!-- points -->
                    <div class="sub_head">
                        <h4><b>Bio Energy</b></h4>
                        <ul>
                            <li>Bioenergy is produced from a variety of organic materials,
                                called biomass, like wood, charcoal, waste and other manures
                                for heat and power production.
                            </li>
                            <li>Energy created by burning biomass creates greenhouse gas
                                emissions, but at lower levels then burning
                                fossil fuels like coal, oil or gas.
                            </li>
                        </ul>
                        <p>Cited from <a href="https://www.un.org/en/climatechange/what-is-renewable-energy">United
                                Nations Climate Action</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="large-12 medium-12 small-12 cell footer">
            <div class="footer_text_format">
                <p><b>Attribution</b>: </p>
                <ul>
                    <li>
                        <p>Under the <a target="_blank"
                                href="https://creativecommons.org/licenses/by/2.0/deed.en">Creative
                                Commons Attribution
                                2.0 Generic</a>
                            license we were allowed to use the images above in this project.</p>
                    </li>
                    <li>The graphs were generated using the <a target="_blank" href="https://canvasjs.com/">CanvasJS</a>
                        Graph Package.</li>
                </ul>

            </div>
        </div>
        <div class="large-2 medium-1 small-0 cell"></div>
    </div>
</div>