<!-- Next and Previous buttons -->
<a class="prev" onclick="goToPreviousState">&#10094;</a>
<a class="next" onclick="goToNextState">&#10095;</a>
<!-- This is where all the non-navigation bar information resides. -->
<div class="off-canvas-content">
    <div class="grid-x grid-padding-x">
        <!-- Buffer for large and medium web pages -->
        <div class="large-2 medium-1 small-0 cell"></div>
        <div class="large-8 medium-10 small-12 center-content">
            <div class="grid-x">
                <div class="large-12 medium-12 small-12 cell">
                    <div class="sector_graph_format" id="chartContainer"></div>
                </div>
                <div class="large-12 medium-12 small-12 cell">
                    <p class="p-content">%%Notes_Placeholder%%</p>
                </div>
            </div>

        </div>
        <div class="large-2 medium-1 small-0 cell"></div>
    </div>
</div>