<!-- TODO: make sure error works when inputting information that isn't in the database. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/foundation.css">
    <title>%%State%%</title>
    <script>
        window.onload = function () {
            
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            
            title:{
                text:"%%State%%"
            },
            axisX:{
                interval: 1
            },
            axisY2:{
                interlacedColor: "rgba(1,77,101,.2)",
                gridColor: "rgba(1,77,101,.1)",
                title: "%%Units%%"
            },
            data: [{
                type: "bar",
                name: "%%Type of Gas Used%%",
                axisYType: "secondary",
                color: "#014D65",
                dataPoints: [
                    // { y: %%data%%, label: "%%Type of Gas%%"},
                    { y: 3, label: "Sweden" },
                    { y: 7, label: "Taiwan" },
                    { y: 5, label: "Russia" },
                    { y: 9, label: "Spain" },
                    { y: 7, label: "Brazil" },
                    { y: 7, label: "India" },
                    { y: 9, label: "Italy" },
                    { y: 8, label: "Australia" },
                    { y: 11, label: "Canada" },
                    { y: 15, label: "South Korea" },
                    { y: 12, label: "Netherlands" },
                    { y: 15, label: "Switzerland" },
                    { y: 25, label: "Britain" },
                    { y: 28, label: "Germany" },
                    { y: 29, label: "France" },
                    { y: 52, label: "Japan" },
                    { y: 103, label: "China" },
                    { y: 134, label: "US" }
                ]
            }]
        });
        chart.render();
        
        }
    </script>
</head>

<body
    style="background-image: url(/images/background-default.jpg); background-repeat: repeat-y; background-size: cover;">
    <!-- Title bar for all elements -->
    <div class="title-bar" style="background-color: #1a8fc1;">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasNestedPush"></button>
        </div>
    </div>

    <!-- Left sidebar elements -->
    <div class="off-canvas position-left is-closed" id="offCanvasNestedPush" data-off-canvas>
        <div class="callout">
            <ul class="menu dropdown" data-responsive-menu="drilldown medium-accordion">
                <div class="sidebar_buffer"></div>
                <li>
                    <a href="/homepage" target="_self">HOME</a>
                </li>
                <div class="sidebar_buffer"></div>
                <li>
                    <a target="_self">USA CONSUMPTION BY SECTOR ANNUAL</a>
                    <ul class="menu">%%List_Placeholder_Sector_Annual%%</ul>
                </li>
                <div class="sidebar_buffer"></div>
                <li>
                    <a target="_self">USA CONSUMPTION BY SECTOR MONTHLY</a>
                    <ul class="menu">%%List_Placeholder_Sector_Monthly%%</ul>
                </li>
                <div class="sidebar_buffer"></div>
                <li>
                    <a target="_self">USA CONSUMPTION BY STATE FOR 2020</a>
                    <ul class="menu" style="max-height: 300px; overflow-y:scroll;">%%List_Placeholder_State%%</ul>
                </li>
                <div class="sidebar_buffer"></div>
                <li>
                    <a target="_self">USA CONSUMPTION TOTAL BY YEAR</a>
                    <ul class="menu" style="max-height: 300px; overflow-y:scroll;">%%List_Placeholder_Total_Year%%</ul>
                </li>
                <div class="sidebar_buffer"></div>
                <li>
                    <a target="_self">USA CONSUMPTION TOTAL BY MONTH</a>
                    <ul class="menu">%%List_Placeholder_Total_Month%%</ul>
                </li>
                <div class="sidebar_buffer"></div>
            </ul>

            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- Next and Previous buttons -->
    <a class="prev" onclick="goToPreviousState">&#10094;</a>
    <a class="next" onclick="goToNextState">&#10095;</a>
    <!-- This is where all the non-navigation bar information resides. -->
    <div class="off-canvas-content">
        <div class="grid-x grid-padding-x">
            <!-- Buffer for large and medium web pages -->
            <div class="large-2 medium-1 small-0 cell"></div>
            <div class="large-8 medium-10 small-12 center-content">
                <!-- Graph -->
                <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
                <!-- Data -->
                <tr>
                    <db></db>
                </tr>
                some content
            </div>
            <div class="large-2 medium-1 small-0 cell"></div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/what-input.js"></script>
    <script src="/js/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="/js/app.js"></script>
    <!-- Graph Script -->
    <script src="/js/canvasjs.min.js"></script>
    <!-- <script src="../../canvasjs.min.js"></script> -->
</body>

</html>