<!-- This is where all the non-navigation bar information resides. -->
<div class="off-canvas-content">
    <div class="grid-x grid-padding-x">
        <!-- Buffer for large and medium web pages -->
        <div class="large-2 medium-1 small-0 cell"></div>
        <div class="large-8 medium-10 small-12 center-content">
            <table class="data">
                %%Placeholder_Content%%
            </table>
        </div>
        <div class="large-2 medium-1 small-0 cell"></div>
    </div>
</div>